@font-face {
  font-family: 'Hind-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Hind/Hind-Bold.ttf')
}
@font-face {
  font-family: 'Hind-Light';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Hind/Hind-Light.ttf')
}
@font-face {
  font-family: 'Hind-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Hind/Hind-Medium.ttf') 
}
@font-face {
  font-family: 'Hind-Regular';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Hind/Hind-Regular.ttf') 
}
@font-face {
  font-family: 'Hind-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Hind/Hind-SemiBold.ttf')
}


body {
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
}
