@font-face {
  font-family: 'Hind-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Hind/Hind-Bold.ttf')
}
@font-face {
  font-family: 'Hind-Light';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Hind/Hind-Light.ttf')
}
@font-face {
  font-family: 'Hind-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Hind/Hind-Medium.ttf') 
}
@font-face {
  font-family: 'Hind-Regular';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Hind/Hind-Regular.ttf') 
}
@font-face {
  font-family: 'Hind-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Hind/Hind-SemiBold.ttf')
}

@font-face {
  font-family: 'PlayfairDisplay-Black';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Black.ttf')
}
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  font-style: italic;
  font-weight: 900;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf')
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') 
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') 
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf')
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf')
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9fb;
}
